* {
    padding: 0;
    margin: 0;
}

.container {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(235, 236, 238);
    width: 100%;
    padding: 5% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta {
    background-color: rgb(255, 255, 255);
    width: 40%;
}

.contenido {
    padding: 8% 6% 6% 6%;
    display: flex;
    flex-direction: column;
}

.botones {
    margin-top: 6%;
}

.cuadro {
    padding: 2% 0.9%;
    color: rgb(164, 161, 161);
}
.cuadro-color {
    font-size: 1em;
    background-color: black;
    color: white;
    padding: 2% 0.9%;
    border-radius: 0.3em;
}

.eventos {
    margin-top: 12%;
}

.estado {
    color: red;
}

.segundo-titulo {
    margin-top: 4%;
    margin-bottom: 3%;
    font-size: 1.3em;
    color: rgb(72, 72, 72);
}
 .parrafo {
    margin-top: 4%;
    margin-bottom: 3%;
 }

 .dia-hora {
    color: rgb(156, 155, 155);
 }