* {
    margin: 0;
    padding: 0;
}

.container {
    background-color:rgb(240, 227, 229);
    width: 100%;
    height: 65em;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: 25em;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}

.contenido {
    background-color: rgb(135, 62, 99);
    width: 28%;
    height: 90%;
    border-radius: 3%;
    box-shadow: 2px 4px 25px 10px rgb(140, 89, 98);
}

.descripcion {
    color: lightpink;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    height: 35em;
    margin-top: 2%;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5%;
}
.botoncitos { 
    font-size: 11px;
    border: solid 2px rgb(96, 45, 70);
    border-radius: 15px;
    margin-left: 3%;
    padding: 0.8% 2.5%;
}

.text-descripcion {
    margin-top: 5%;
}

.p-1 {
    margin-top: 4%;
}

.precio {
    margin-top: 4%;
}

.p-2 {
    font-size: 55px;
    margin-top: 3%;
}

.comprar {
    padding: 3.5% 8%;
    margin-top: 5%;
    background-color: lightpink;
    color: rgb(96, 45, 70);
    border-radius: 25px;
    border: none;
}