* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(175, 235, 175);
    font-family: sans-serif;
}

.contenido {
    background-color: white;
    width: 250px;
    height: 280px;
    padding: 30px;
    text-align: center;
    margin: 150px auto;
    border-radius: 15px;
}

.saludo {
    margin-top: 20px;
}

.lista-frutas {
    margin-top: 15px;
    padding: 10px;
}

.fruta {
    width: 160px;
    background-color: white;
    border: 1px solid rgb(217, 217, 228);
    border-radius: 100px;
    padding: 5px;
    margin: 0 auto 10px;
}

