#contenedor {
  background-color: red;
  text-align: center;
  padding: 80px 80px;
  width: 103em;
  height: 40.8em;
  margin-left: 40px;
  margin-top: 50px;
  margin-bottom: 3em;
  border: 10px solid;
}
body {
  background-color: white;
}
#header {
  font-size: 100px;
  font-family: "Courier New", Courier, monospace;
  background-color: dodgerblue;
  height: 2em;
  margin-bottom: 0.5em;
  margin-top: 0.1em;
  margin-left: 2em;
  margin-right: 2em;
}

.article {
  font-size: 70px;
  font-family: "Courier New", Courier, monospace;
  background-color: yellow;
  height: 2em;
  margin-left: 5em;
  margin-right: 5em;
}
#foto {
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
  line-height: 4;
  background-color: green;
  height: 4.5em;
  width: 4.5em;
  border-radius: 50%;
  margin-left: 45%;
  margin-top: 0.8em;
}
