* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.fuera {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadro {
    background-color: rgb(57, 121, 224);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 85%;
    height: 50em;
    margin-top: 4%;
    border: solid 0.4em white;
    border-radius: 0.6em;
    display: flex;
    flex-direction: column;
}

.titulo {
    font-size: 3em;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.cuadrito {
    background-color: rgb(220, 220, 220);
    color: black;
    width: 30%;
    margin-top: 1.5em;
    margin-left: 1.5em;
    border-radius: 0.3em;
}

.titulo-cuadro {
    margin-left: 0.5em;
    margin-top: 1em;
    font-size: 2em;
}

.forma-cuadrito {
    width: 95%;
    margin-left: 0.5em;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.recuadros {
    padding: 2.7% 0%;
    background-color: white;
    border-radius: 0.2em;
    margin-top: 1em;
    width: 100%;
    box-shadow: 1px 5px 1px -5px;
}

.pie {
  color: darkgray;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 12em;
}



